[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
pipenv-setup = "*"
pytest = ">=3"
pytest-runner = "*"
coverage = "*"
twine ="*"
wheel  = "*"
pycodestyle = "*"
SecretStorage = "*"
setuptools_scm = "*"
aws-sam-cli = '*'
moto = '*'

[packages]
boto3 = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
